/* ========== Responsive Css Start */
@media (max-width:375px) {
    .h1-custom{
        color: rgb(129, 221, 23);
        font-size: 35px;
    }
    .for-two{
        display: flex;
        flex-direction:column;
        font-size: 20px;
    }
    .right-side{
        width: 100%;
    }
    .left-side{
        width: 100%;
    }
    .for-space{
        margin-top: 8px;
    }
   
}

/* =========== Vanila Css start ==================== */
body{
    background-color: beige;
}